.App {
  font-family: sans-serif;
}

.top-padding {
  padding-top: 100px;
}

body {
  background-image: url('backGround.jpg');
  color: white;
}

.logo {
  font-size: 30px;
  padding-bottom: 50px;
}
.btn-icon {
  padding: 0;
  border: none;
  outline: none;
  background: none;
}

.center {
  text-align: center;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.error {
  color: red;
  margin-top: 5px;
}

.room-border {
  display: flex;
  flex-direction: column;
  border: solid;
  height: 35px;
  width: fit-content;
  min-width: 70px;
  padding: 10px;
  margin: 10px;
}
.container {
  display: flex;
  flex-direction: row;
}

.link-style {
  color: 'white';
  text-decoration: 'none';
}

.add-product {
  border-radius: 5px;
}

input {
  border-radius: 5px;
}
